table, td, th {
    border: 2px solid black;
}

td {
    width: 8mm;
    height: 8mm;
    text-align: center;
}
table {
    border-collapse: collapse;
}

.primzahl{
    background-color: green;

}

.primzahlInFalscherReihenfolge{
    background-color: orange;
}

.falscheZahl{
    background-color: red;
}

.rahmen{
    border: 5px outset greenyellow;
    
}

select {
    width: 30mm;
}


